:root {
  --font-family: 'Inter Tight', sans-serif;

  --f-size-20: 20px;
  --f-size-16: 16px;
  --f-w-500: 500;
  --f-w-600: 600;

  --background: #1c1d20;
  --cards-bg: #242527;
  --accent-c: #ed3b44;
  --primary-c: #fafafa;
  --secondary-c: rgba(250, 250, 250, 0.6);
  --section-title-c: rgba(250, 250, 250, 0.4);
  --arrow: #3b3b3b;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: var(--f-w-500);
  font-size: var(--f-size-16);
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--primary-c);
  background-color: var(--background);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Styles for Mobile devices */
.section {
  padding: 32px 0;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .section {
    padding: 48px 0;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .section {
    padding: 82px 0;
  }
}

/* Styles for Mobile devices */
.section-title {
  font-family: var(--font-family);
  font-weight: var(--f-w-600);
  font-size: var(--f-size-16);
  text-transform: uppercase;
  color: var(--section-title-c);
  margin-bottom: 32px;
}
